a{
    cursor:pointer;
    color: azure;
    text-decoration: none;
}

a:hover{
    color: rgba(50, 50, 50, .6);
}

body{
    background-color: lightgray;
    margin: 0;
    text-align: center;
    align-items: center;
}

footer{
    color: azure;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    font-style: italic;
    background-color: rgba(0, 0, 0, .9);
    padding: 2px;
}

header{
    font-family: 'Poppins', sans-serif;
    color: azure;
    font-size: 12px;
    background-image: url(var.jpeg);
    background-size: cover;
    background-position-y: 10%;
    height: 500px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header nav{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 9px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
  
    font-size: 14px;
    padding: 20px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
  }

#intro p{
    margin-bottom: 0;
}

li{
    padding: 60px 40px;
}

#links a{
    margin: 15px;
}

#main{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: center;
}

#main img{
    width: 100%;
}

.match{
    font-family: 'Fjalla One', sans-serif;
    color: rgba(50, 50, 50, .6)e;
    font-size: 8px;
    margin-top: -15px;
}

ol{
    margin: 0;
}

#overlay{
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

p{
    font-size: 12px;
    font-weight: lighter;
    line-height: 19px;
}

p, .verdetto{
    margin-top: 20px;
}

#profile{
    font-size: 9px;
    width: 500px;
    text-align: center;
    border-bottom: 2px solid rgba(50, 50, 50, .6);
}
#profile_img{
    text-align: center;
}

#profile_img img{
    position: relative;
    height: 100px;
    margin-top: -50px;
    z-index: 1;
}

section{

    width: calc(200vw/3);
    margin: 0px calc(100vw/6) 30px calc(100vw/6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    background-color: black;
    border: 3px solid rgba(50, 50, 50, .6);
    border-radius: 12px;
    font-weight: normal;
    text-align: center;
    width: 750px;
}

.verdetto{
    padding: 5px;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
}



